.font-item-container {
    max-width: 50%;
    font-size: 14px;
    min-width: 200px;
    display: flex;
    height: max-content;
    font-weight: bold;
    align-items: center;
    margin: 10px 0;
}

.font-item-container:hover {
    cursor: pointer;
    opacity: 0.8;
}

.font-item-container:active {
    opacity: 0.6;
}

.font-item-container:first-child {
    flex-wrap: nowrap;
    height: auto;
    align-self: center;
    flex-basis: 100%;
}

@media (max-width: 455px) {
    .font-item-container:first-child {
        flex-wrap: nowrap;
    }
}

.font-item-container ul {
    padding-left: 15px;
    margin: 0;
}

.font-item-white-container {
    height: 66px;
    width: 66px;
    min-width: 66px;
    min-height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-right: 10px;
}

.font-color-container {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex !important;
    align-items: flex-end;
    justify-content: flex-start;
}

.font-color-container > div {
    height: min-content;
    width: min-content;
    margin-left: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    opacity: 0.5;
}

.active-font {
    opacity: 0.5;
}
.active-font:hover {
    opacity: 0.5;
}