.app-container {
    width: 600px;
}

.pages-container {
    border: 1px solid lightgray;
    padding: 28px;
    min-height: 180px;
    height: 100%;
}

.my-fonts-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
}

@media (max-width: 455px) {
    .my-fonts-container {
        justify-content: center;
    }
}

.buy-fonts-container {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
