.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 24px;
    height: 26px;
    margin-bottom: 14px;
    padding-left: 10px;
    padding-right: 5px;
}

.links-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    flex: 1;
}

.links-container a {
    text-decoration: unset;
    color: grey;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 5px;
    height: max-content !important;
}

.links-container a:visited {
    color: grey;
}

.links-container a.active-link {
    color: #fc5712;
}
