@font-face {
  font-family: Montserrat;
  font-weight: normal;
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

body {
  height: 100vh;
  margin: 0;
  font-family: Montserrat;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}